.board{
    display: table;
    margin: 30vh 30vw;
}

.rows{
    display: table-row;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    min-width: 6vw;
}

.headers{
    display: table-header-group;
}

.rates{
    display: table-header-group;
}

.col{
    display: table-cell;
    font-size: 16px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    padding: 8px;
}

.btnContainer{
    display: inline;
    margin-left: 30vw;
}

.refresh{
    font-size: 12px; 
}

.prices{
    font-size: 12px; 
}
